html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
}

.container {
    max-width: var(--max-site-container-width);
    height: 100%;
    width: 100%;

    @include marginCenter();
}

#box {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

