@use 'sass:math';


@mixin marginCenter {
    margin: auto;
}

@mixin flexCenter($is-inline: false) {
    @if $is-inline {
        display: inline-flex;
    } @else {
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin adaptFontSize($max: 36, $min: 16) {
    /*
        ru: адаптивный размер шрифта, зависящий от размера вьюпорта и ориентированный на rem
        en: adaptive font size, depending on the size of the viewport and focused on rem
    */
    $max-viewport-width: 1400;  // максимальная ширина страницы по макету (--max-site-container-width in vars.scss)
    $min-viewport-width: 360;   // минимальная ширина страницы по макету (--min-site-container-width in vars.scss)

    $max-size: math.div($max, 16);
    $min-size: math.div($min, 16);
    $max-width: math.div($max-viewport-width, 16);
    $min-width: math.div($min-viewport-width, 16);

    $slope: math.div(($max-size - $min-size), ($max-width - $min-width));
    $y-axis-intersection: -$min-width * $slope + $min-size;

    font-size: clamp(
            #{$min-size * 1rem},
            #{$y-axis-intersection * 1rem} + #{$slope * 100vw},
            #{$max-size * 1rem}
    );
}

@mixin hover {
    /*
        ru: миксин для корректной работы hover-эффектов на разных устройствах.

        Решает проблему залипания стилей на тач-устройствах, где обычный :hover не возвращается в
        исходное состояние после касания.
          -  На устройствах с курсором (ПК) применяет стили через :hover.
          -  На тач-устройствах (телефоны, планшеты) использует :active, чтобы эффект срабатывал только при нажатии.

        Если нужна отдельная стилизация для :hover и для :active, то данный миксин использовать не нужно.

        Пример использования:

            SCSS код:
            button {
                padding: 10px 15px;
                background: blue;
                border: 1px solid red;

                @include hover {
                    background: aqua;
                }
            }

            CSS перевод:
            button {
                padding: 10px 15px;
                background: blue;
                border: 1px solid red;
            }
            @media (hover: hover) {
                button:hover {
                    background: aqua;
                }
            }
            @media (hover: none) {
                button:active {
                    background: aqua;
                }
            }




        en: mixin for proper hover effects across different devices.

        Fixes the sticky hover issue on touch devices, where the default :hover state remains active after tapping.
          -  On cursor-based devices (desktops), it applies styles via :hover.
          -  On touch devices (phones, tablets), it uses :active to trigger effects only on tap.

        Do not use this mixin if :hover and :active need distinct styles.

        Example usage:

            SCSS code:
            button {
                padding: 10px 15px;
                background: blue;
                border: 1px solid red;

                @include hover {
                    background: aqua;
                }
            }

            Compiled CSS:
            button {
                padding: 10px 15px;
                background: blue;
                border: 1px solid red;
            }
            @media (hover: hover) {
                button:hover {
                    background: aqua;
                }
            }
            @media (hover: none) {
                button:active {
                    background: aqua;
                }
            }
    */
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin noDisplay {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}
